[submodule "scheme/srfi"]
	path = scheme/srfi
	url = https://github.com/arcfide/chez-srfi.git
[submodule "tmux/oh-my-tmux"]
	path = tmux/oh-my-tmux
	url = https://github.com/Thrimbda/.tmux.git
[submodule "vim/vim_runtime"]
	path = vim/vim_runtime
	url = https://github.com/amix/vimrc.git
